# Turso Database
TURSO_URL=YOUR_TURSO_DATABASE_URL
TURSO_TOKEN=YOUR_TURSO_AUTH_TOKEN

# JWT
JWT_SECRET=YOUR_JWT_SECRET

# AniList OAuth
ANILIST_CLIENT_ID=YOUR_ANILIST_CLIENT_ID
ANILIST_CLIENT_SECRET=YOUR_ANILIST_CLIENT_SECRET
ANILIST_REDIRECT_URI=YOUR_ANILIST_REDIRECT_URI

# reCAPTCHA v3
RECAPTCHA_SECRET=YOUR_RECAPTCHA_SECRET